{% extends "bootstrap/base.html" %}

{% block title %}
    登录到PyMES
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigate</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand" href="/">PyMES</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>请登录</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row container center-block">
        <div class="col-md-6">
            <h1 class="page-header ">登陆</h1>
            <form method="POST" action="/">
                {{ form.hidden_tag() }}
                {{ form.username.label }} {{ form.username(size=20) }}
                <input type="submit" value="Go">
            </form>
        </div>
        <div class="col-md-6">
            <img src="../../static/img/seek.jpg" alt="seek" style="width: 100%; height: 100%;">
        </div>
    </div>
{% endblock %}