{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    登录到PyMES
{% endblock %}

{% include 'navbar.html' %}

{% block content %}
    <div class="row container center-block">
        <div class="col-md-6">
            <h1 class="page-header ">登陆</h1>
            <div>{{ wtf.quick_form(form, method="POST", enctype="multipart/form-data" ) }}</div>
        </div>
        <div class="col-md-6">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">{{ message }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endfor %}
            <h3>新用户？</h3>
            <div><a href="{{ url_for('auth.register') }}">
                点此注册
            </a></div>
        </div>
    </div>
{% endblock %}