{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    注册到PyMES
{% endblock %}

{% include 'navbar.html' %}


{% block content %}
    <div class="row container center-block">
        <div class="col-md-8">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">{{ message }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endfor %}
            <h1 class="page-header ">注册</h1>
            <div>{{ wtf.quick_form(form, method="POST", enctype="multipart/form-data" ) }}</div>
        </div>
        <div class="col-md-4">
            <img src="../../static/img/seek.jpg" alt="seek" style="width: 100%;">
        </div>
    </div>
{% endblock %}