{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

{% block title %} 物料管理 -- PyMES {% endblock %}

{% include 'navbar.html' %}


{% block content %}
    <div class="container">
        <div class="col-md-3">
            <h1 class="page-header">添加物料信息</h1>
            <div>{{ wtf.quick_form(form, method="POST", enctype="multipart/form-data" ) }}</div>
        </div>
        <div class="col-md-9">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">{{ message }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endfor %}
            <h1 class="page-header">管理物料信息</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>物料名称</th>
                        <th>剩余空间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for material in materials %}
                        {{ macros.render_material(material) }}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}